<app-modal title="Filament Material Types" (close)="onClose()">
  <div class="add-form">
    <input placeholder="Material Type name" [value]="nameInput" (input)="nameInput = $event.target?.value" />
    <button class="primary" (click)="onAdd()">Add</button>
  </div>

  <app-list-state [loading]="loading" [hasData]="materialTypes.length > 0" emptyText="No material types found.">
    <table>
      <thead><tr><th>Name</th></tr></thead>
      <tbody>
        <tr *ngFor="let mt of materialTypes">
          <td>{{ mt.name }}</td>
        </tr>
      </tbody>
    </table>
  </app-list-state>
</app-modal>